.body {
    background-color: #C8DEEE;
    width: 100%;
}

/* début du header */

.header_draw {
    width: 300px;
    height: 100px;
    position: relative;
    margin-left: 10px;
    opacity: 0.7;
}

.header_name {
    width: 300px;
    position: absolute;
    margin-left: -295px;
    margin-top: 25px;
   
}

.header_background {
    background-color: #D8E8F3;
    width: 100%;
    height: 100px;
    margin-top: -123px;
}

.header_onglet {
    color:#58715A;
    font-family: 'Josefin Sans-regular';
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: 350px;
    margin-top: -75px;
}

.header_search {
    width: 300px;
    height: 30px;
    background-color: white;
    border-radius: 2px;
    opacity: 0.7;
    margin-left: 900px;
    margin-top: -50px;
}

.header_loupe {
    width: 30px;
    margin-left: 260px;
}

/* fin du header */

.slide_img {
    width: 1000px;
    margin-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide_description {
    color: white;
    font-size: 30px;
    font-family: 'Josefin Sans-bold';
    margin-top: -180px;
    margin-left: 300px;
}

.slide_title {
    width: 400px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.slide_subtitle {
    width: 140px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.infos {
    background:#D9E8F3;
    border-radius: 2px;
    width: 1230px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: flex;
}

.infos_description {
    width: 350px;
    margin: 30px;
}

.market {
    width: 350px;
    border-radius: 2px;
}

.text {
    color: #58715A;
    text-align: center;
    font-family: 'Josefin Sans-regular';
}

.infos_livraison {
    width: 350px;
    margin: 30px;
}

.camions {
    width: 350px;
    border-radius: 2px;
}

.infos_producteur {
    width: 350px;
    margin: 30px;
}

.agriculteur {
    width: 350px;
    border-radius: 2px;
}

.footer_background {
    background-color: #D8E8F3;
    width: 100%;
    height: 140px;
    margin-top: 100px;
}

.contact {
    margin-top: -150px;
    margin-left: 100px;
}

.contact_title {
    color: #58715A;
    font-family: 'Josefin Sans';
    font-size: 18px;
}

.contact_info {
    color: #58715A;
    font-family: 'Josefin Sans';
    font-size: 15px;
}

.footer_onglet {
    color:#58715A;
    font-family: 'Josefin Sans';
    font-size: 18px;
    margin-top: -110px;
    margin-left: 450px;
    text-align: center;
    width: 120px;
}

.footer_legal {
    color:#58715A;
    font-family: 'Josefin Sans';
    font-size: 18px;
    margin-top: -85px;
    margin-left: 750px;
    text-align: center;
    width: 150px;
}

.newsletter_title {
    color: #58715A;
    font-family: 'Josefin Sans';
    font-size: 18px;
    margin-left: 1050px;
    margin-top: -85px;
}

.space_newsletter {
    width: 220px;
    height: 25px;
    background-color: white;
    border-radius: 2px;
    margin-left: 1180px;
    margin-top: -48px;
}

.reseaux {
    margin-left: 1170px;
    display: flex;
}

.fb {
    margin: 20px;
    width: 40px;
    height: 40px;
}

.insta {
    margin: 20px;
    width: 40px;
    height: 40px;
}

.twitter {
    margin: 20px;
    width: 40px;
    height: 40px;
}